fastapi
uvicorn[standard]
sqlalchemy
pydantic
psycopg2-binary  # si tu utilises Postgres
python-dotenv     # si tu utilises des variables d'environnement
pydantic[email]  # pour la validation des emails